/*FUENTE GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Oswald:wght@200..700&display=swap');

.logo{
    max-width: 5%;
    filter: grayscale(100%);
}

.navbar{
    font-family: "Oswald";
    transition: all 0.5s;
}
.navbar-scroll{
    background-color: rgb(37, 34, 34);
}

body {
    background-color:  rgb(70, 70, 70) !important;
    color: white !important;
}

#quienes_somos, #destacados, #contacto{
    padding-top: 7rem;
    padding-bottom: 5rem;
    text-align: center;
    font-family: "Assistant";
    font-style: normal;
}

h1{
    padding-bottom: 5rem;
}

hr{
    padding-bottom: 7rem;
}

.col{
    text-align: justify;
    text-justify: inter-word;
}

.bot{
    background-color: rgb(13,202,240);
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.card{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(13,202,240) !important;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgb(28, 134, 155);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(13,202,240) ;
  }
  
  .container {
    border-radius: 5px;
   
    padding: 20px;
  }
#form{
    text-align: left;
}